.print-area{
  padding-top: 5%;
	padding-bottom: 5%;
	.button{
		left: 93%;
	    top: 90%;
	}
	.icon{
	    margin-top: 19%;
	}
}
@media print {
  #sidebar, #header, #button {
    display: none;
  }
  #reportContainer{padding-top:10%;}
  .container{width:95%;}
  #dynamic-area{overflow: hidden;}
  .print-area{
  	margin-top: 0;
    transform: scale(0.9,0.8);
  }
}