body {
	margin: 0;
	background: #253a52;
	overflow-x: hidden;
}

#nav-bar {
	position: relative;
	display: flex;
	height: 10vh;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: 500;
	color: rgba(0,0,0,.54);
	padding-top: 20px;
	padding-bottom: 50px;
}

.title {
	position: absolute;
	top: -12%;
	left: 1%;
	height: 100%;
	min-width: 50%;
	background: url('../assets/unitec-dashboard.png') no-repeat;
}

.nav {
	position: absolute;
	display: flex;
	right: 5%;
}

ul.nav {
	width: 35%;
	justify-content: space-between;
}

ul.nav li {
	cursor: pointer;
}

ul.nav li:hover {
	color: #9219a6;
}

.hamburger {
	display: none;
	position: absolute;
	background: #fff;
	top: 10%;
	outline: none;
	border: none;
	height: 80%;
}

.hamburger img {
	position: absolute;
	width: 80%;
	height: 90%;
	top: 10%;
	left: 10%;
}

.selected {
	color: #9219a6;
	padding-bottom: 18px;
	border-bottom: 4px solid #9219a6;
}

@media screen and (max-width: 1020px) {
	ul.nav {
		width: 50%;
	}
}

@media screen and (max-width: 700px) {
	ul.nav {
		display: none;
	}
	.hamburger {
		display: block;
		width: 10%;
	}
	.title {
		width: 60%;
	}
}

@media screen and (max-width: 520px) {
	.hamburger {
		width: 10%;
	}
	.title {
		background-size: 100% 120%;
	}
}