body
{
    font-family: 'Ubuntu', 'Roboto', sans-serif;

    overflow-x: hidden;

    margin: 0;
}

#side-bar {
    position: absolute;
    background: #283b5b;
    font-size: 1.2em;
    font-weight: 500;
    width: 18%;
    height: 100%;
    animation: slide-in .3s linear forwards;
}

#side-bar.ng-hide {
    animation: slide-out .3s linear forwards;
}

#logo-area {
    display: flex;
    background: #213250;
    height: 13%;
    justify-content: center;
}

#logo-area img {
    align-self: center;
    width: 35%;
    height: 80%;
}

#navigation {
    color: #6b7fa4;
    margin-top: 30%;
    padding: 0 15%;
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#navigation li {
    cursor: pointer;
    margin-bottom: 15%;
}

#navigation li:hover, .active {
    color: #55e4d4;
}

#navigation i {
    margin-right: 6%;
}

.header-bar {
    position: absolute;
    display: flex;
    background: #f7faff;
    border-bottom: 1px solid #e1ecff;
    color: #7b96c4;
    left: 18%;
    width: 82%;
    height: 13%;
    padding-left: 2%;
}

#activity-section {
    display: flex;
    align-self: center;
    font-size: 18px;
}

#activity-section img {
    cursor: pointer;
    width: 10%;
    height: 100%;
    margin-right: 3%;
}

.dynamic-area {
    position: absolute;
    top: 13%;
    left: 18%;
    width: 82%;
    height: 87%;
    overflow: scroll;
}

.expanded {
    left: 0%;
    width: 100%;
}

.shrunk {
    left: 18%;
    width: 82%;
}

@keyframes slide-in
{
    from
    {
        left: -18%;
    }
    to
    {
        left: 0%;
    }
}

@keyframes slide-out
{
    from
    {
        left: 0%;
    }
    to
    {
        left: -18%;
    }
}