.landing
{
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

    font-family: 'Roboto', sans-serif;

    background: #213250; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #213250, #213250);
    background:    -moz-linear-gradient(right, #213250, #213250);
    background:      -o-linear-gradient(right, #213250, #213250);
    background:         linear-gradient(to left, #213250, #213250);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .login-page
    {
        width: 360px;
        margin: auto;
        padding: 5% 0 0;
    }
    .form
    {
        position: relative;
        z-index: 1;

        margin: 15px auto 100px;
        padding: 45px;

        text-align: center;

        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
    }
    .form input
    {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;

        box-sizing: border-box;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        padding-left: 40px;

        border: 0;
        outline: 0;
        background: #f2f2f2;
    }
    .form button
    {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;

        width: 100%;
        padding: 15px;

        cursor: pointer;
        -webkit-transition: all .3 ease;
                transition: all .3 ease;
        text-transform: uppercase;

        color: #fff;
        border: 0;
        outline: 0;
        background: #354663;
    }
    .form button:hover,
    .form button:active,
    .form button:focus
    {
        background: #4e5f7d;
    }
    .form .message
    {
        font-size: 14px;

        margin: 15px 0 0;

        color: #b3b3b3;
    }
    .form .message a
    {
        text-decoration: none;

        color: #354663;
    }
    .form .register-form
    {
        display: none;
    }
    .container
    {
        position: relative;
        z-index: 1;

        max-width: 300px;
        margin: 0 auto;
    }
    .container:before,
    .container:after
    {
        display: block;
        clear: both;

        content: '';
    }
    .container .info
    {
        margin: 50px auto;

        text-align: center;
    }
    .container .info h1
    {
        font-size: 36px;
        font-weight: 300;

        margin: 0 0 15px;
        padding: 0;

        color: #1a1a1a;
    }
    .container .info span
    {
        font-size: 12px;

        color: #4d4d4d;
    }
    .container .info span a
    {
        text-decoration: none;

        color: #000;
    }
    .container .info span .fa
    {
        color: #ef3b3a;
    }
    .fa
    {
        font-size: 22px;
    }
    .fa.fa-envelope
    {
        font-size: 20px;
    }
    .img-responsive
    {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    label
    {
        font-size: 16px;
    }
    /* enable absolute positioning */
    .inner-addon
    {
        position: relative;
    }
    /* style icon */
    .inner-addon .fa
    {
        position: absolute;

        padding-top: 12px;
        padding-left: 7px;

        pointer-events: none;
    }
    /* align icon */
    .left-addon .fa
    {
        left: 0;
    }
    .right-addon .fa
    {
        right: 0;
    }
    /* add padding  */
    .left-addon input
    {
        padding-left: 30px;
    }
    .right-addon input
    {
        padding-right: 30px;
    }
    .form-control
    {
        width: 100%;
        margin: 0 0 20px;

        color: #000;
        border: none !important;
        outline: none;
        background: #f2f2f2;
        -webkit-box-shadow: none !important;
           -moz-box-shadow: none !important;
                box-shadow: none !important;
    }
    .register-form
    {
        width: 100%;
    }
    .error
    {
        font-size: 15px;

        margin-top: 0;
        padding-top: 0;

        color: red;
    }
}
