*{
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Oxygen', sans-serif;
}
html, body{
	width: 100%;
	height: 100%;
}

body{
	background: #002558;
}

.login-layout.img-responsive{
	margin: 0 auto;
}

.container{
	padding: 15px 25px;
    max-width: 500px;   
    transform: translate(0%, 15%);
}

.jumbotron{
	background: #CCCCCC;
}

.input-group-addon{
	background: #00132E;
	outline: 0;
	border: none;
}

.col-md-4{
	width: 100%;
}

.fa{
	font-size: 20px;
	color: #fff;

}
.btn.btn-success{
	background: #9B0000;
	color: #fff;
	outline: none !important;
	border: none;
	border-radius: 0px;
	width: 50%;
	left: 25%;
	border-bottom: 8px solid #820000;
	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;

}
input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { 
color: #fff !important;  
}
 
input::-moz-placeholder {  
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}
input[type="email"], input[type="password"]{
	background: #00132E;
	font-size: 20px;
	height: 60%;
	display: block;
	color: #fff;
	outline: none;
  	border: 2px solid #CCCCCC !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}