.gallery
{
    position: absolute;
    top: 7%;
    left: 5%;

    display: flex;

    width: 95%;

    flex-wrap: wrap;
}

.card
{
    width: 28%;
    height: 300px;
    margin-right: 5%;
    margin-bottom: 5%;

    cursor: pointer;

    background: #9ad3de;
    box-shadow: 0 0 10px #000;
}

.card:hover
{
    box-shadow: 0 0 30px #000;
}

.img-area
{
    display: flex;

    height: 70%;

    background: #213250;

    justify-content: center;
}

.img-area img
{
    width: 50%;

    align-self: center;
}

.project-info
{
    text-align: center;
}

.project-info h4
{
    font-size: 1.3em;
}
