.gallery {
	display: flex;
	position: absolute;
	left: 5%;
	top: 7%;
	width: 95%;
	flex-wrap: wrap;
}

.card {
	background: #9ad3de;
	width: 28%;
	height: 300px;
	margin-right: 5%;
	margin-bottom: 5%;
	cursor: pointer;
	box-shadow: 0 0 10px #000;
}

.card:hover {
	box-shadow: 0 0 30px #000;
}

.img-area {
	display: flex;
	background: #213250;
	height: 70%;
	justify-content: center;
}

.img-area img {
	align-self: center;
	width: 50%;
}

.project-info {
	text-align: center;
}

.project-info h4 {
	font-size: 1.3em;
}