.tb-tooltip {
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}
.tb-tooltip .tooltiptext {
    background-color: black;
    border-radius: 6px;
    color: #ffffff;
    left: 50%;
    margin-left: -60px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: -70%;
    visibility: hidden;
    width: 120px;
    z-index: 1;
}
.tb-tooltip .tooltiptext::after {
    border-color: transparent transparent black transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -30%;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tb-tooltip:hover .tooltiptext {
  visibility: visible;
}