tb-headerbar {
    display: flex;
    
    #bar {
        display: flex;

        padding-left: 2%;

        justify-content: space-between;

        flex-grow: 1;
        flex-basis: 100%;

        transition: all .3s linear;

        color: #7b96c4;
        border-bottom: 1px solid #e1ecff;
        background: #f7faff;

        &.expanded
        {
            margin-left: -230px;
        }

        &.shrunk
        {
            left: 230px;
        }

    }

    #activity-section
    {
        font-size: 18px;

        display: flex;

        align-self: center;
    }

    #activity-section img
    {
        width: 10%;
        height: 100%;
        margin-right: 3%;

        cursor: pointer;
    }

    #user-section {
        display: inline-flex;
        align-self: center;
        font-size: 18px;
        width: 100%;
        height: 100%;
        margin-top: 35px;

        .circle-icon {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: #ccc;

            i { align-self: center; }
        }

        .username {
            align-self: center;
            margin-top: -50px;
            margin-right: 25px;
            margin-left: 10px;
        }
    }
}