<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Editar Horas</h2>
		<span flex></span>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout="row">
			<md-input-container style="margin-right: 10px;">
			<label>Proyecto</label>
			<md-select ng-model="response.projectId">
			<md-option ng-repeat="item in projects" value="{{item.Id}}">{{item.Name}}</md-option>
			</md-select>
			</md-input-container>
		</div>
		<div layout="row">
			<md-input-container>
			<label>Horas</label>
			<input ng-model="response.hours">
			</md-input-container>
		</div>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
	<span flex></span>
	<md-button ng-click="answer(null)">
	Cancelar
	</md-button>
	<md-button ng-click="answer(response)">
	Aceptar
	</md-button>
	</md-dialog-actions>
</form>
</md-dialog>