<tb-search-field obj="vm.searchObj" 
                 results="vm.searchResults" 
                 data="vm.{{camelCase modelPlural}}"
                 get-all="vm.getAll"
                 loading="vm.loading"
                 auto="true">
</tb-search-field>
<div class="row" ng-if="vm.{{camelCase modelPlural}}.length > 0">
	<tb-table class="col-md-12" 
	          schema="vm.tableSchema" 
	          model="vm.searchResults"{{#if update}}
	          on-row-click="vm.edit{{pascalCase modelSingular}}"{{/if}}
	          style="margin-bottom: 40px;">
	</tb-table>
</div>
<h1 style="text-align: center; color: #999;" ng-if="vm.searchResults.length === 0">Sin resultados.</h1>
<tb-load-more-btn start-page="1" 
                  page-size="vm.pageSize" 
                  model="vm.{{camelCase modelPlural}}" 
                  get="vm.get"
                  ng-hide="vm.hideLoadBtn()">
</tb-load-more-btn>
<tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>
{{#if create}}<tb-round-btn ng-click="vm.goToNew{{pascalCase modelSingular}}()">+</tb-round-btn>{{/if}}