<tb-search-field obj="vm.{{lowercase modelSingular}}Obj" results="vm.searchResults" data="vm.{{lowercase modelPlural}}" auto="true"></tb-search-field>
<div class="row" ng-if="vm.{{lowercase modelPlural}}.length > 0">
	<tb-table class="col-md-12" 
	          schema="vm.tableSchema" 
	          model="vm.searchResults"
	          {{#if edit}}on-row-click="vm.edit{{pascalcase modelSingular}}"{{/if}}
	          style="margin-bottom: 40px;">
	</tb-table>
</div>
<tb-load-more-btn start-page="1" 
                  page-size="vm.pageSize" 
                  model="vm.{{lowercase modelPlural}}" 
                  get="vm.get"
                  ng-hide="vm.hideLoadBtn()">
</tb-load-more-btn>
<tb-loading class="main-loader" ng-show="vm.{{lowercase modelPlural}}Loading"></tb-loading>
{{#if create}}<tb-round-btn ng-click="vm.goToNew{{pascalcase modelSingular}}()">+</tb-round-btn>{{/if}}