<tb-search-field obj="vm.classObj" results="vm.searchResults" data="vm.classes" auto="true"></tb-search-field>
<div class="row" ng-if="vm.classes.length > 0">
	<tb-table class="col-md-12" 
	          schema="vm.tableSchema" 
	          model="vm.searchResults"
	          on-row-click="vm.editClass"
	          style="margin-bottom: 40px;">
	</tb-table>
</div>
<tb-load-more-btn start-page="1" 
                  page-size="vm.pageSize" 
                  model="vm.classes" 
                  get="vm.get"
                  ng-hide="vm.hideLoadBtn()">
</tb-load-more-btn>
<tb-loading class="main-loader" ng-show="vm.classesLoading"></tb-loading>
<tb-round-btn ng-click="vm.goToNewClass()">+</tb-round-btn>