.home
{

    .dynamic-area
    {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .row
    {
        margin-top: 40px;
        padding: 0 10px;

        &.project {
            cursor: pointer;
            margin-top: 0;

            #project-header {
                font-size: 1.4em;
                font-weight: 800;
                margin-bottom: 5px;
            }
        }
    }
    .clickable
    {
        cursor: pointer;
    }
    .panel
    {
        border: 1px solid  #354663 !important;
        outline: none !important;
    }
    .panel > .panel-heading
    {
        background-color: #213250;
    }
    .panel-heading span
    {
        font-size: 15px;

        margin-top: -20px;
    }
    .btn.btn-success,
    .btn.btn-success:focus
    {
        width: 30%;

        border: none !important;
        outline: none;
        -webkit-box-shadow: none !important;
           -moz-box-shadow: none !important;
                box-shadow: none !important;
    }
    .glyphicon-lg
    {
        font-size: 3em;
    }
    .notebox
    {
        font-size: 3em;
    }
    .blockquote-box
    {
        margin-bottom: 25px;

        border-right: 5px solid #e6e6e6;
    }
    .blockquote-box .square
    {
        width: 100px;
        min-height: 50px;
        margin-right: 22px;
        padding: 20px 0;

        text-align: center!important;

        background-color: #e6e6e6;
    }
    .blockquote-box.blockquote-primary
    {
        border-color: #357ebd;
    }
    .blockquote-box.blockquote-primary .square
    {
        color: #fff;
        background-color: #428bca;
    }
    .blockquote-box.blockquote-success
    {
        border-color: #4cae4c;
    }
    .blockquote-box.blockquote-success .square
    {
        color: #fff;
        background-color: #5cb85c;
    }
    .blockquote-box.blockquote-info
    {
        border-color: #46b8da;
    }
    .blockquote-box.blockquote-info .square
    {
        color: #fff;
        background-color: #5bc0de;
    }
    .blockquote-box.blockquote-warning
    {
        border-color: #479898;
    }
    .blockquote-box.blockquote-warning .square
    {
        color: #fff;
        background-color: #479898;
    }
    .blockquote-box.blockquote-danger
    {
        border-color: #d43f3a;
    }
    .blockquote-box.blockquote-danger .square
    {
        color: #fff;
        background-color: #d9534f;
    }
    .widget .panel-body
    {
        margin-top: 0;
        padding: 0;
    }
    .widget .list-group
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    .widget .label-info
    {
        float: right;
    }
    .widget li.list-group-item
    {
        border: 0;
        border-top: 2px solid #ddd;
        border-radius: 0;
    }
    .widget li.list-group-item:hover
    {
        background-color: rgba(86,61,124,.1);
    }
    .widget .mic-info
    {
        font-size: 11px; 

        color: #666;
    }
    .widget .action
    {
        margin-top: 5px;
    }
    .widget .comment-text
    {
        font-size: 12px;
    }
    .widget .btn-block
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
