.landing {
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

    font-family: 'Ubuntu', sans-serif;

    background: #213250; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #213250, #213250);
    background:    -moz-linear-gradient(right, #213250, #213250);
    background:      -o-linear-gradient(right, #213250, #213250);
    background:         linear-gradient(to left, #213250, #213250);

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.scrollable {
        overflow-y: auto;
    }

    .landing-loader {
        background: #fff;
    }
}