<td ng-repeat="content in row.content">
	<tb-table-label-elem ng-if="type === 'label'"  text="props.text"></tb-table-label-elem>

	<tb-table-input-elem ng-if="type === 'input'"  
	                     input-disabled="props.inputDisabled"
	                     model="props.model"
	                     max="props.max"
	                     min="props.min"
	                     disable="props.disable">
	</tb-table-label-elem>

	<tb-table-btn-elem   ng-if="type === 'button'" icon="props.icon" tooltip="props.tooltip"></tb-table-label-elem>
	
	<tb-table-icon-elem  ng-if="type === 'icon'"  
	                     icon-class="props.iconClass" 
	                     font-size="props.fontSize">
    </tb-table-label-elem>
</td>