<div class="admin container">
  <div class="row">

        <div class="col-lg-15">
          <br>
          <br>
            <div class="panel panel-primary panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title"><b>Proyectos Con Horas Pendientes De Aprobar</b></h3>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="admin table table-list-search table-hover">
                  <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Seccion</th>
                        <th>Clase</th>
                        <th>Maestro</th>
                        <th>Correo</th>
                        <th>Periodo</th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr ng-repeat="sproject in vm.sprojects">
                            <td>{{vm.toTitleCase(sproject.Project.Name)}}</td>
                            <td>{{sproject.Section.Code}}</td>
                            <td>{{sproject.Section.Class.Name}}</td>
                            <td>{{vm.toTitleCase(sproject.Section.User.Name)}}</td>
                            <td>{{sproject.Section.User.Email}}</td>
                            <td class="hidden-sm">{{sproject.Section.Period.Number}}</td>
                          </tr>

                        </tbody>
                </table>

              </div>

            </div>

</div>
</div>
</div>
<tb-loading class="main-loader" ng-show="vm.sectionsProjectsLoading"></tb-loading>
