<div class="container" style="margin-top: 20px;">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title text-center">Secciones Actuales</h2>
		</div>
		<div class="panel-body row" ng-if="vm.sections">
			<tb-table class="col-md-12" 
			          schema="vm.tableSchema" 
			          model="vm.sections" 
			          on-row-click="vm.goToSection">
			</tb-table>
		</div>
	</div>
</div>
<tb-loading class="main-loader" ng-show="vm.sectionsLoading" style="z-index: 99999"></tb-loading>
