<tb-search-field></tb-search-field>
<div class="row" ng-if="vm.sections && vm.sections.length > 0">
	<tb-table class="col-md-12" 
	          schema="vm.sectionsTableSchema" 
	          model="vm.sections" 
	          on-row-click="vm.goToSection" 
	          style="margin-bottom: 40px;">
	</tb-table>
</div>
<div style="display: flex; justify-content: center;" ng-hide="vm.searching">
	<div class="load-more" style="margin-bottom: 15px;" ng-click="vm.loadMore()">
		Cargar Secciones Antiguas
	</div>
</div>
<tb-loading class="main-loader" ng-show="vm.sectionsLoading"></tb-loading>
<tb-round-btn ui-sref="main.newsection" ng-click="vm.preventGeneralLoading()">+</tb-round-btn>