<div class="sections">
<tb-search-field></tb-search-field>
	<div class="row">
		<tb-table class="col-md-12" headers="vm.sectionsTable.headers"
		body="vm.sectionsTable.body"
		actions="vm.sectionsTable.actions"
		ref="main.section"
		on-row-click="vm.preventGeneralLoading"
		class="mouse-hover"
		style="margin-bottom: 40px;">
		</tb-table>
	</div>
	<div style="display: flex; justify-content: center;" ng-hide="vm.searching">
		<div class="load-more" style="margin-bottom: 15px;" ng-click="vm.loadMore()">
			Cargar Secciones Antiguas
		</div>
	</div>
	<tb-loading class="main-loader" ng-show="vm.sectionsLoading"></tb-loading>
	<tb-round-btn ng-show="Role === 'Admin' || Role === 'Professor'" ui-sref="main.newsection"
	ng-click="vm.preventGeneralLoading()">+
	</tb-round-btn>
</div>