.project
{
    .help
    {
        padding: 3px;

        border-bottom: 1px dotted;
        background: #eee;
    }
    .img-responsive
    {
        width: 430px;
    }
    .panel > .panel-heading
    {
        cursor: pointer;

        border: none;
        background-color: #466196;
    }
    p
    {
        font-size: 19px;
    }
    #users-management
    {
        width: 100%;
    }
    #users-management .panel-heading
    {
        height: 55px;
    }
    #users-management h4
    {
        line-height: 35px;
    }
    #users-management .panel-heading img
    {
        width: 32px;
        margin-right: .25em;
    }
    #users-management .panel-body img
    {
        margin: 0 1em 1em 0;
    }
    a:hover
    {
        text-decoration: none;
    }
    .tb-dialogHRS
    {
        margin-right: auto;
        margin-left: auto;
    }
    @media (max-width: 460px)
    {
        #users-management .panel-heading .btn-group .btn span
        {
            display: none;
        }
        #users-management .panel-heading img
        {
            display: none;
        }
        #users-management .panel-heading .btn-group .btn
        {
            padding-right: 6px;
            padding-left: 6px;
        }
        #users-management .panel-heading h4
        {
            font-size: 13px;
        };
    }
    .container {
        width: 90%;
    }
}
