.project
{
   .container{
        margin-top: 20px;
        width: 90%;
   }
   .panel{  
        border: none;
        outline: none;
   }
   p{
        font-size: 17px;
   }
   .panel-body{
        text-align: center;
   }
   .title_spec{
        font-size: 22px;
        gfont-weight: bold;
   }
   .panel-title{
        font-size: 18px;
        text-align: center;
   }
   .panel-primary > .panel-heading{
        
        background-color: #213250;
   }


}
