<tb-loading ng-show="vm.projectLoading"
      style="z-index: 99999"></tb-loading>
</div>
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">
			{{vm.project.Name}}
			</h2>
		</div>
		<div class="panel-body">
			<h3 class="title_spec">Id Proyecto</h3>
			<p>{{vm.project.ProjectId}}</p>
			<h3 class="title_spec">Organizac&iacute;on Beneficiaria</h3>
			<p>{{vm.project.BeneficiarieOrganization}}</p>
			<h3 class="title_spec">Costo</h3>
			<p>{{vm.project.Cost | currency : "Lps " : 2}}</p>
			<h3 ng-show="vm.project.Description" class="title_spec">Descripci&oacute;n</h3>
			<p>{{vm.project.Description}}</p>
			<h3 class="title_spec">Carreras Asociadas</h3>
			<p ng-repeat="major in vm.majors">{{major}}</p>
			<h3 class="title_spec">Secciones Asociadas</h3>
			<p ng-repeat="section in vm.sections">{{section.name}} : {{section.code}}</p>
		</div>
	</div>
</div>