<table class="responstable">
	<tr>
		<th ng-repeat="header in headers">{{header}}</th>
		<th ng-if="actions"></th>
	</tr>

	<tr ng-repeat="row in body" class="tb-body">
		<td ng-repeat="content in row.content">
		  <label ng-if="content.typeObject == 'label'">
		  		{{content.properties.value}}  
  		  </label>
  		  <input ng-if="content.typeObject == 'input'" 
  		  	type="{{content.properties.type}}" 
  		  	ng-model="content.properties.value">
		</td>
		<td ng-if="actions">
			<button class="actions-button tb-tooltip" ng-repeat="action in row.actions" ng-click="action.click($parent.$index)">
				<span class="{{action.icon}}"></span>
				<span class="tooltiptext">{{action.name}}</span>
			</button>	
		</td>
		<td ng-if="row.textInputs" ng-repeat="input in row.textInputs" >
			<input type="{{input.type}}" ng-model="input.value">
		</td>
	</tr>
</table>
