<table class="responstable">
	<tr>
		<th ng-repeat="header in headers">{{header}}</th>
		<th ng-if="actions"></th>
	</tr>

	<tr ng-init="Index = $index" ng-click="vm.onRowClick(row)" ng-repeat="row in body" class="tb-body">
		<td ng-repeat="content in row.content">
		  <label ng-if="content.typeObject == 'label'">
		  		{{content.properties.value}}  
  		  </label>
  		  <input class="tb-input-wrapper" ng-if="content.typeObject == 'input'" ng-disabled="inputDisable"
		  	type="{{content.properties.type}}" 
  		  	ng-model="content.properties.value" min="{{content.properties.min}}" max="{{content.properties.max}}">
  		  	<p ng-if="content.typeObject == 'input'">{{content.properties.disable}}</p>
			<button class="actions-button tb-tooltip" style="float:none;" ng-if="content.typeObject == 'button'" 
				ng-click="vm.loseFocus()" ng-blur="content.properties.onClick($parent.$parent.$parent.body[Index])">
				<span class="glyphicon {{content.properties.icon}}" aria-hidden="true" ></span>
				<span ng-show="content.properties.tooltip" class="tooltiptext">{{content.properties.tooltip}}</span>
			</button>	  	
		</td>
		<td ng-if="actions">
			<button class="actions-button tb-tooltip" ng-repeat="action in row.actions" ng-click="vm.loseFocus()" ng-blur="action.onClick($parent.$index)">
				<span class="glyphicon {{action.icon}}"></span>
				<span class="tooltiptext">{{action.tooltip}}</span>
			</button>	
		</td>
		<td ng-if="row.textInputs" ng-repeat="input in row.textInputs" >
			<input type="{{input.type}}" ng-model="input.value">
		</td>
	</tr>
</table>
