<div class="login-page">
      <img class = "img-responsive" src="img/logo.png" />
      <div class="form">
        <form id="login-form" class="login-form" name="registerLogin" ng-submit="registerLogin.$valid && vm.login()" novalidate>
            <div class="inner-addon left-addon">
            <span class="fa fa-user"></span>
            <input ng-model="vm.username" type="text" placeholder="Correo o Usuario" required/>
            </div>
            <div class="inner-addon left-addon">
            <span class="fa fa-lock"></span>
            <input ng-model="vm.password" type="password" placeholder="Clave" required/>
            </div>
            <button id="ingresar" type="submit">Ingresar</button>
            <p class="message register">No estas registrado? <a href="#">Crear una cuenta</a></p>
        </form>  
          
        <div ng-controller="RegisterController as vm">
            <form id="register-form" class="register-form" name="register" 
                  ng-submit="register.$valid && vm.registerStudent()" novalidate>
                <label>Registrar Usuario</label>
                <div class="inner-addon left-addon">
                <span class="fa fa-envelope"></span>
                <input name="email" type="email" placeholder="Correo Electr&oacute;nico" ng-model="vm.email" 
                       ng-pattern='/@unitec.edu$/' required/>
                </div>
                <div class="inner-addon left-addon">
                <span class="fa fa-sort-numeric-desc"></span>
                <input name="accountId" type="text" placeholder="N&uacute;mero de Cuenta" ng-model="vm.accountId" required>
                </div>
                <div class="inner-addon left-addon">
                <span class="fa fa-user register"></span>
                <input name="name" type="text" placeholder="Nombre Completo" ng-model="vm.name" required>
                </div>
                <div class="campus">
                    <label>Campus</label>
                    <select class="form-control" ng-model="vm.campus">
                        <option>SPS</option>
                        <option>TGU</option>
                    </select>
                </div>
                <div class="inner-addon left-addon">
                <span class="fa fa-lock pass"></span>
                <input id="password" name="password" type="password" placeholder="Clave" ng-model="vm.password" 
                        ng-minlength="8" ng-keypress="vm.validate($event)" required/>
                </div>
                <div class="inner-addon left-addon">
                <span class="fa fa-lock confirmpass"></span>
                <input type="password" placeholder="Confirmar Clave" ng-pattern="vm.password" required/>
                </div>
                <div class="carrera">
                    <label>Carrera</label>
                    <select class="form-control" ng-model="vm.career">
                        <option value="I - 01 (Ing. en Sistemas Computacionales)">I - 01 (Ing. Sistemas Computacionales)</option>
                    </select>
                </div>
                  <button id="registrar" type="submit">Registrar</button>
                  <p class="message login">Ya estas registrado? <a href="#">Iniciar Sesion</a></p>
            </form>  
        </div>

      </div>
</div>