<div class="modal fade" style="z-index: 10000000;">
  <div class="modal-dialog" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Seleccione los proyectos para la seccion</h4>
      </div>
      <div class="modal-body">
      <tb-search-field obj="vm.searchObj" 
                       results="vm.searchResults" 
                       data="vm.projects"
                       get-all="vm.getAll"
                       loading="vm.loading"
                       auto="true">
      </tb-search-field>
        <form class="project-form cd-form" style="margin-bottom: 10px;" role="form">
          <div ng-repeat="prj in vm.searchResults" style="margin-top: 15px; margin-bottom: 5px;">
              <input name="cd-name" type="checkbox" 
                     checklist-model="vm.projectsSelected" 
                     checklist-value="prj">
              <label>{{prj.Name}}</label>
          </div>
          <h1 style="color: #999; text-align: center;" ng-if="vm.searchResults.length === 0">Sin resultados.</h1>
        </form>
        <tb-load-more-btn start-page="1" 
                          page-size="vm.pageSize" 
                          model="vm.projects" 
                          get="vm.get"
                          ng-hide="vm.hideLoadBtn()">
        </tb-load-more-btn>
        <tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="vm.close()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="vm.accept()" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>