.CustomValidationError{
	  color: #e94b35;
	  font-size: 1.4rem;
	  font-weight: bold;
	  text-align: center;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  border-radius: .25em;
	  padding: 5px;
}