<form name="professorForm" class="cd-form" ng-submit="professorForm.$valid && vm.submit()" novalidate>
    <legend>
        <strong>{{vm.formTitle}}</strong>
    </legend>
    
    <div>
        <label class="cd-label">Numero de Cuenta</label>
        <input ng-model="vm.accountId" minlength="8" maxlength="8" class="user" type="number" name="accountId" id="cd-name" required>
        <p class="error-message" ng-show="professorForm.$submitted && professorForm.accountId.$error.required">
            * Por favor ingrese un numero de cuenta valido.
        </p>
        <p class="error-message" ng-show="professorForm.$submitted && (professorForm.accountId.$error.maxlength ||
           professorForm.accountId.$error.minlength)">
            * Numero de cuenta de tener 8 digitos.
        </p>
    </div>
    
    <div>
        <label class="cd-label">Nombre</label>
        <input ng-model="vm.professor.Name" class="user" type="text" name="Name" id="cd-name" required> 
        <p class="error-message" ng-show="professorForm.$submitted && professorForm.Name.$error.required">
            * Por favor ingrese el nombre del profesor.
        </p>
    </div>
    
    <div>
        <label class="cd-label">Email</label>
        <input ng-model="vm.professor.Email" class="user" type="email" name="Email" id="cd-name" 
               ng-pattern="/^[a-z0-9]{1,}@unitec.edu/" required>
        <p class="error-message" ng-show="professorForm.$submitted && professorForm.Email.$error.required">
            * Por favor ingrese el correo del profesor.
        </p>
        <p class="error-message" ng-show="professorForm.$submitted && professorForm.Email.$invalid">
            * Por favor ingrese un correo valido.
        </p>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Campus</label>
        <select name="_class" ng-model="vm.professor.Campus" required>
            <option value="TGU">TGU</option>
            <option value="SPS">SPS</option>
        </select>
        <p class="error-message" ng-show="professorForm.$submitted && professorForm._class.$error.required">
            * Por favor seleccione un campus.
        </p>
    </div>
    <div>
        <input type="submit" ng-hide="vm.submitting" value="Confirmar">
    </div>
</form>
<tb-loading class="main-loader" ng-show="vm.submitting"></tb-loading>