.tb-search {
  .result-container {
    background-color: white;
    height: 100px;
    margin-top: -32px;
    border-radius: 5px;
    overflow-y: auto;
    color: #283B5B;
  }
  .list {
    list-style: none;
    .list-element {
      margin-top: 1%;
      margin-bottom: 1%;
      margin-right: 10%;
      margin-left: auto;
      padding: 1.5%;
      border-bottom: 1px solid lightgray;
      &:hover {
        background-color: rgba(0, 140, 186, 0.44);
        font-weight: bold;
        font-style: oblique;
      }
    }
  }
}