.edit-hours {
	.switch{
		padding-left: 3%;
	}
	.btn.btn-lg.center-block.save-hours{
		background-color: #213250;
		color: #fff;
		outline:none;
		border:none;

	}
	.btn.btn-lg.center-block.save-hours:hover{
		font-size: 20px;
		background-color: #e01e26;
	}
	.btn.btn-md.pull-right.save-hours{
		margin-bottom: 10px;
		margin-top: -15px;
		margin-right: 40px;
		font-size: 16px;
		background: #213250;
		outline:none;
		border:none;
		color: #fff;
	}
	.btn.btn-md.pull-right.save-hours:hover{
		background-color: #4ba763;
	}
}
