<tb-loading class="main-loader" ng-show="vm.participantsLoading"
style="z-index: 99999"></tb-loading>
<div >
	<div>
		<div class="col-md-12 switch" ng-show="vm.editHours.visible">
			<md-switch ng-click="vm.triggerButton()" ng-model="vm.editHours.value">
			{{ vm.editHours.text }}
			</md-switch>
			<button ng-click="vm.evaluateProject.onClick()" class="btn btn-md pull-right save-hours"><strong>Evaluar proyecto</strong></button>
		</div>
		<tb-table
		headers="vm.studentsTable.headers"
		body="vm.studentsTable.body"
		input-disable="!vm.editHours.value">
		</tb-table>
		<br>
		<br>
		<button ng-show="vm.savebutton" class="btn btn-lg center-block save-hours">Guardar cambios</button>

	</div>
</div>
