<tb-loading class="main-loader" ng-show="vm.participantsLoading"
style="z-index: 99999"></tb-loading>
<div >
	<div>
		<div class="text-center">
			<h2>{{vm.projectName}}</h2>
		</div>

		<div class="text-center">
			<h3>{{vm.description}}</h3>
		</div>
		<div class="text-center">
			<h3>{{vm.sprojects.Cost}}</h3>
		</div>
		<div class="col-md-12 switch" ng-show="vm.editHours.visible && !vm.isApproved.visible">
			<button ng-click="vm.evaluateProject.onClick()" class="btn btn-md pull-right eval-proj"><strong>Generar Reporte</strong></button>
		</div>
		<tb-table
		headers="vm.studentsTable.headers"
		body="vm.studentsTable.body"
		input-disable="vm.isApproved.visible">
		</tb-table>
		<br>
		<br>
		<button ng-show="vm.editHours.visible && !vm.isApproved.visible" class="btn btn-lg center-block save-hours" ng-click="vm.addHours.onClick()">Guardar cambios</button>
	</div>
</div>
