<tb-search-field search="vm.search" placeholder="{{vm.placeholder}}"></tb-search-field>
<div class="container" ng-show="vm.model && !vm.model.IsApproved">
	<div class="row project-info">
		<h1 class="projec-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{vm.toTitleCase(vm.model.Project.Name)}}
		</h1>
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="row">
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">Sección:</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.toTitleCase(vm.model.Section.Code)}}</h5>
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">Id Proyecto:</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.model.Project.ProjectId}}</h5>
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">Período:</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.getPeriod(vm.model.Section.Period)}}</h5>
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">Clase:</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.toTitleCase(vm.model.Section.Class.Name)}}</h5>
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">Costo:</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.toTitleCase(vm.model.Cost)}}</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<h2 style="text-align: center;">Descripción del Proyecto</h2>
			<p>{{vm.model.Description}}</p>
		</div>
		<div class="proffesor col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="row">
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				Maestro:
				</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.toTitleCase(vm.model.Section.User.Name)}}</h5>
				<h4 class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				Correo Electrónico:
				</h4>
				<h5 class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> {{vm.toTitleCase(vm.model.Section.User.Email)}}</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<md-button class="md-raised approve-button" style="background-color: #283b5b; color:white;" ng-click="vm.approveHours()">Aprobar Horas</md-button>
		</div>
	</div>
<tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>
</div>