<form name="sectionForm" class="cd-form" ng-submit="sectionForm.$valid && vm.submit()" novalidate>
    <legend>
        <strong>Nueva Seccion</strong>
    </legend>
    
    <div>
        <label class="cd-label" for="cd-name">Codigo</label>
        <input ng-model="vm.section.Code" class="user" type="text" name="sectionCode" id="cd-name" required>
        <p class="error-message" ng-show="sectionForm.$submitted && sectionForm.sectionCode.$error.required">
            * Por favor ingrese un codigo para la seccion.
        </p>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Clase</label>
        <select name="_class" ng-model="vm.section.ClassId" required>
            <option value="{{class.Id}}" ng-repeat="class in vm.classes">{{class.Name}}</option>
        </select>
        <p class="error-message" ng-show="sectionForm.$submitted && sectionForm._class.$error.required">
            * Por favor escoja una clase.
        </p>
        <tb-loading class="main-loader" ng-show="vm.classesLoading"></tb-loading>
    </div>

    <div ng-hide="vm.professorActive">
        <label class="cd-label" for="cd-name">Docente</label>
        <select name="professor" ng-model="vm.section.ProffesorAccountId" required>
            <option value="{{professor.AccountId}}" ng-repeat="professor in vm.professors">{{professor.Name}}</option>
        </select>
        <p class="error-message" ng-show="sectionForm.$submitted && sectionForm.professor.$error.required">
            * Por favor escoja un profesor.
        </p>
        <tb-loading class="main-loader" ng-show="vm.professorsLoading"></tb-loading>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Proyectos</label>
        <input style="cursor: pointer" ng-click="vm.addProjects()" class="user" type="text" name="sectionProjects" id="cd-name" required>
        <p class="error-message" ng-show="sectionForm.$submitted && sectionForm.project.$error.required">
            * Por favor escoja un proyecto.
        </p>
        <tb-loading class="main-loader" ng-show="vm.professorsLoading"></tb-loading>
    </div>

    <div ng-show="vm.section.projectIds.length > 0">
        <tb-table headers="vm.projectsTable.headers" 
            body="vm.projectsTable.body"
            on-row-click="vm.deleteElementFromProjectsTable"
            ng-hide="vm.submitting">
         </tb-table>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Alumnos</label>
        <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in vm.queryStudents(vm.searchText)" md-item-text="item.Name">
          <md-item-template>
              <span md-highlight-text="vm.searchText">{{ item.Name }}</span>
          </md-item-template>
          <md-not-found>
              No se encontraron alumnos con el numero de cuenta: {{vm.searchText}}.
          </md-not-found>
        </md-autocomplete> 
        <button type="button" class="add-student-btn" style="margin-top: 5px; margin-left: 83%;"
                ng-click="vm.addStudentToSection()">AGREGAR</button>
        <tb-loading class="main-loader" ng-show="vm.studentsLoading"></tb-loading>
    </div> 

    <div ng-show="vm.sectionStudents.length > 0">
        <tb-table headers="vm.studentsTable.headers" 
            body="vm.studentsTable.body"
            on-row-click="vm.deleteElementFromStudentsTable"
            ng-hide="vm.submitting">
         </tb-table>
    </div>
    <div>
        <input type="submit" ng-hide="vm.submitting" value="Confirmar">
    </div>
</form>
<tb-loading class="main-loader" ng-show="vm.submitting"></tb-loading>