<form name="form" class="cd-form" ng-submit="form.$valid && vm.submit()" novalidate>
    <legend>
        <strong>{{vm.formTitle}}</strong>
    </legend>

    <div>
        <label class="cd-label" for="cd-name">Codigo</label>
        <input ng-model="vm.section.Code" class="user" type="text" name="code" id="cd-name" required>
        <span ng-show="form.$submitted || form.code.$touched">
            <p class="error-message" ng-show="form.code.$error.required">
                * Por favor ingrese el codigo de la seccion
            </p>
        </span>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Clase</label>
        <select name="_class" ng-model="vm.section.ClassId" 
                ng-options="_class.Id as _class.Name for _class in vm.classes" required>
        </select>
        <span ng-show="form.$submitted || form._class.$touched">
            <p class="error-message" ng-show="form._class.$error.required">
                * Por favor escoja una clase.
            </p>
        </span>
        <tb-loading class="main-loader" ng-show="vm.classesLoading"></tb-loading>
    </div>

    <div ng-if="Role === 'Admin'">
        <label class="cd-label" for="cd-name">Docente</label>
        <select name="professor" ng-model="vm.section.ProffesorAccountId" required>
            <option value="{{professor.AccountId}}" ng-repeat="professor in vm.professors">{{professor.Name}}</option>
        </select>
        <span ng-show="form.$submitted || form.professor.$touched">
            <p class="error-message" ng-show="form.professor.$error.required">
                * Por favor escoja un profesor.
            </p>
        </span>
        <tb-loading class="main-loader" ng-show="vm.professorsLoading"></tb-loading>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Alumnos</label>
        <md-autocomplete md-selected-item="vm.selectedStudent" 
                         md-search-text="searchText" 
                         md-items="student in vm.search(searchText)" 
                         md-item-text="student.Name"
                         placeholder="Ingrese numero de cuenta o nombre">
            <md-item-template>
                <span md-highlight-text="vm.searchText">{{ student.Name }}</span>
            </md-item-template>
            <md-not-found>
                No se encontraron alumnos con el numero de cuenta: {{searchText}}.
            </md-not-found>
        </md-autocomplete> 
        <button type="button" class="add-student-btn" style="margin-top: 5px; margin-left: 83%;"
                ng-click="vm.addStudent()">AGREGAR</button>
        <tb-loading class="main-loader" ng-show="vm.studentsLoading"></tb-loading>
    </div> 

    <div ng-if="vm.selectedStudents.length">
        <h3 style="margin-left: 20px;">Alumnos Seleccionados</h3>
        <tb-table schema="vm.tableSchema" model="vm.selectedStudents" 
                  on-row-click="vm.removeStudent" ng-hide="vm.submitting">
        </tb-table>
    </div>

    <div>
        <input type="submit" ng-hide="vm.submitting" value="Confirmar">
    </div>
</form>
<tb-loading class="main-loader" ng-show="vm.submitting"></tb-loading>