.hours-by-student{
	margin-bottom: 5%;
	.header{
		color: #283B5B;
		-webkit-print-color-adjust: exact;
	    font-size: medium;
	    text-transform: uppercase;
	}
	.description{
		-webkit-print-color-adjust: exact;
	    margin-top: 2%;
	    border-bottom: 1px solid lightgray;
	    text-align: center;
	}
	.header-description{
		-webkit-print-color-adjust: exact;
	    margin-top: 3%;
	    font-size: medium;
	    font-weight: bold;
	    border-bottom: 3px solid #283B5B;
	    text-align: center;
	}
	.logo{
		float:right;
	}
	.finiquito{
	    cursor: pointer;
    	color: #008cba;
	}
}
