<div id="side-bar">
	<div id="logo-area">
		<img src="../assets/logo.png" alt="Logo" ui-sref="home">
	</div>
	<div id="navigation">
		<ul>
			<li ng-repeat="item in nav.navItems" ui-sref="{{item.ref}}"
			ng-class="{ 'active': item.active }" ng-click="nav.navItemClicked($index)">
				<i class="{{item.icon}}"></i>
				<span>{{item.title}}</span>
			</li>
		</ul>
	</div>
</div>
<div id="header-bar">
	<div id="activity-section">
		<img src="../assets/hamburger-nav.png" alt="Hamburger Menu">
		<span>Activity</span>
	</div>
</div>
<div id="dynamic-area" ui-view></div>