<div class="container">
    <!-- <div class="row">
        <div class="col-md-5">
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <span class="notebox fa fa-clock-o"></span>
                    <span class="notebox">46</span>
                </div>
                <h4>
                    Horas Acumuladas</h4>
                <p>
                    Tienes 46 horas acumuladas, cada vez estas mas cerca de la meta.
                </p>
            </div>
        </div>
		
        <div class="col-md-5">
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-left">
                    <span class="notebox fa fa-user-plus"></span>
                    <span class="notebox">3</span>
                </div>
                <h4>
                    Solicitudes Pendientes</h4>
                <p>
                    <button class="btn btn-success btn-md">Revisar</button>
                </p>
            </div>
        </div>

	</div> -->
    <div class="row">
        <div class="col-md-11">
			<div class="panel panel-primary widget">
				<div class="panel-heading">
					<h3 class="panel-title">Proyectos Recientes</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
                    <ul class="list-group">
                    <li class="list-group-item" ng-repeat="project in home.recentProjects">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                            <img class="img-responsive" style="max-width: 80px; padding-right: 20px;max-height: 80px;" src="{{project.image}}" >
                            </div>
                            <div class="col-xs-10 col-md-11" style="padding-left: 40px;">
                                <div>
                                    {{project.name}}
                                    <div class="mic-info">
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{project.coment}}
                                </div>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>
			</div>

		</div>
    </div>
</div>
<script type="text/javascript" src="../js/panels.js"></script>