<div class="login-page">
      <img class = "img-responsive" src="assets/logo.png" />
      <div class="form">
        <form class="register-form">
            <label>Registrar Usuario</label>
            <span class="fa fa-envelope"></span>
            <input type="text" placeholder="Correo Electr&oacute;nico"/>
            <span class="fa fa-sort-numeric-desc"></span>
            <input type="text" placeholder="N&uacute;mero de Cuenta">
            <span class="fa fa-user register"></span>
            <input type="text" placeholder="Nombre Completo">
            <div class="campus">
                <label>Campus</label>
                <select class="form-control">
                <option>SPS</option>
                <option>TGU</option>
                </select>
            </div>
            <span class="fa fa-lock pass"></span>
            <input type="password" placeholder="Clave"/>
            <span class="fa fa-lock confirmpass"></span>
            <input type="text" placeholder="Confirmar Clave"/>
            <div class="carrera">
                <label>Carrera</label>
                <select class="form-control">
                    <option>I - 01 (Ing. Sistemas Computacionales)</option>
                </select>
            </div>
              <button>Registrar</button>
              <p class="message login">Ya estas registrado? <a href="#">Iniciar Sesion</a></p>
        </form>
          
        <form class="login-form">
            <span class="fa fa-user"></span>
            <input id="usuario" name="usuario" ng-model = "login.username" type="text" placeholder="Correo o Usuario"/>
            <span class="fa fa-lock"></span>
            <input id="clave" name="clave" ng-model = "login.password" type="password" placeholder="Clave"/>
            <button id="ingresar" name="ingresar" ng-click="login.login()">Ingresar</button>
            <p class="message register">No estas registrado? <a href="#">Crear una cuenta</a></p>
        </form>
      </div>
</div>

<script type="text/javascript" src="../js/signup.js"></script>