<div class="container">
    <div class="row">
        <div class="col-md-5">
  <h1>Proyecto de Vinculaci&oacute;n</h1>
  <img class="img-responsive img-thumbnail" src="../assets/reforestacion.jpg">

            <div id="users-management" class="col-md-8">
      <div class="panel-group">
        <h2>Participantes</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#" style="color: white;"><img src="../assets/logo.png" class="img-circle">Daniel Zelaya
              </a>
            </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#" style="color: white;"><img src="../assets/logo.png" class="img-circle">Kelvin Chinchilla
              </a>
            </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#" style="color: white;"><img src="../assets/logo.png" class="img-circle">Alejandro Zelaya
              </a>
            </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#" style="color: white;"><img src="../assets/logo.png" class="img-circle">Daniel Perez
              </a>
            </h4>
          </div>
        </div>
        
</div>
    
</div>
        </div>
        <div class="col-md-5">
            <h2>Descripci&oacute;n</h2>
            <p>Gummies sesame snaps cupcake powder. Danish dragée jujubes danish gummies topping dessert halvah lemon drops. Sweet liquorice cake candy gummi bears. Ice cream lollipop biscuit liquorice. Cookie halvah pastry. Donut tart toffee cotton candy sweet. Donut chocolate cake gummi bears tart sugar plum jujubes. Tart gummi bears pie apple pie icing sweet roll chocolate cake caramels. Sesame snaps marshmallow brownie pie wafer tart gingerbread. Dessert pudding cake donut fruitcake. Oat cake cake lollipop sweet roll muffin toffee gingerbread pudding. Pastry biscuit marshmallow tart cake pudding topping. Toffee jelly beans oat cake wafer cheesecake gingerbread.</p>
        </div>
    </div>
</div>