<link rel="stylesheet" type="text/css" href="css/solicitudes.css">
<h2>Solicitudes de Registro</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DogeMan</td>
              <td>
              dogeman@dogemask.cool
              <button class="btn btn-success pull-right">Rechazar</button>
              <button style="background:#005508; border-color: #366E3B;" class="btn btn-success pull-right">Aceptar</button>

              </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

