<div class="section-view">
      <div class="container">
          <div class="row">
            <h1 class="col-md-10 class-style">{{vm.toTitleCase(vm.section.Class.Name)}}</h1>
            <h2 class="col-md-5 professor">{{vm.toTitleCase(vm.section.User.Name)}}</h2>
          </div>
          <ul class="list">
            <li class="row">
              <label class="col-md-1">Codigo</label>
              <label class="col-md-3 element"><strong>{{vm.toTitleCase(vm.section.Code)}}</strong></label>
            </li>
            <li class="row">
              <label class="col-md-1">Periodo</label>
              <label class="col-md-3 element"><strong>{{vm.section.Period.Number}}</strong></label>
            </li>
            <li class="row">
              <label class="col-md-1">Año</label>
              <label class="col-md-3 element"><strong>{{vm.section.Period.Year}}</strong></label>
            </li>
          </ul>
          <button ng-show="Role === 'Admin' || Role === 'Professor'" type="button" class="btn btn-default edit-button" aria-label="Left Align"
                    ng-click="vm.editSection()"
                    style="margin-left:0; margin-top: 0; top: 55%; left: 35%; outline: none;" >
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <div style="padding-left: 35px;"ng-show="Role === 'Student'">
              <h3><strong>Horas Acumuladas: N/A</strong></h3>
            </div>
          <img class="logo-image" src="img/logo.png" alt="" />
    </div>

    <div ng-show="Role === 'Admin' || Role === 'Professor'">
      <div>
        <h1 style="margin-left: 10%; margin-bottom: 20px;" class="col-md-10 class-style">Alumnos</h1>
        <tb-table   headers="vm.sectionsTable.headers"
                    body="vm.sectionsTable.body"
                    actions="vm.sectionsTable.actions">
        </tb-table>
      </div>
      <div ng-show="vm.projectsTable.body.length > 0">
        <h1 style="margin-left: 10%; margin-bottom: 20px;" class="col-md-10 class-style">Proyectos</h1>
        <tb-table   headers="vm.projectsTable.headers"
                    body="vm.projectsTable.body"
                    ref="main.project"
                    on-row-click="vm.preventGeneralLoading"
                    class="mouse-hover">
        </tb-table>
      </div>
    </div>
    <tb-loading class="main-loader" ng-show="vm.sectionsLoading"></tb-loading>
</div>
<tb-round-btn ng-show="Role === 'Admin' || Role === 'Professor'" ng-click="vm.addStudent()">+
</tb-round-btn>
