<div class="section-view">
      <div id="about">
          <div id="story">
            <h1>{{vm.section.Class.Name}}</h1>
            <h2>{{vm.section.User.Name}}</h2>
          </div>
          <ul id="contact">
            <li><span>Codigo</span> <strong>{{vm.section.Code}}</strong></li>
            <li><span>Periodo</span> <strong>{{vm.section.Period.Number}}</strong></li>
            <li><span>Año</span> <strong>{{vm.section.Period.Year}}</strong></li>
          </ul>
          <img id="picture" src="img/logo.png" alt="" />
    </div>

    <div class="seccion">
      <div class="item">
          <tb-table   headers="vm.sectionsTable.headers" 
                      body="vm.sectionsTable.body" 
                      actions="vm.sectionsTable.actions">
          </tb-table>
      </div>
    </div>
    <tb-loading class="main-loader" ng-show="vm.sectionsLoading"></tb-loading>
</div>
<tb-round-btn style="background-color: #b91a1a; margin-top: -80px; color: #fff8f8;" 
  ng-show="Role === 'Admin' && vm.sectionsTable.body.length == 0" ng-click="vm.removeSection()">
    <div style="margin: auto;">
        <div style="margin: 8px 8px 5px 5px;">
        <div style="margin: 8px 8px 5px 8px;">
            <span class="glyphicon glyphicon-trash"></span>
        </div>
    </div>
</tb-round-btn>
<tb-round-btn ng-show="Role === 'Admin' || Role === 'Professor'" ng-click="vm.addStudent()">+
</tb-round-btn>