.section-view{
  .edit-button{
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
    font-size: 1em;
    border-radius: 50%;
    outline: none;
    background: #ccc;
  }
  .desc-section{
    text-align: center;
  }
  .container{
    background: #fff;
    margin-top: 20px;
  }
  .professor{
    font-style: italic;
    font-size: 1.8em;
    padding-left: 5%;
    padding-top: 0.5%;
    font-weight: bold;
  }
  .class-style{
    font-weight: bold;
    margin-top: 6%;
  }
  .container{
    width: 90%;
  }
  .logo-image{
    width: 15%;
    margin-top: 10%; 
    margin-left: 10%;
  }
  .list{
    margin-top: 3%;
    list-style: none;
    .element{
      text-align:center;
    }
    li{
      margin:2%;
      padding:0.5%;
      font-style: italic;
      font-weight: normal;
      .button-edit{
        margin-top: -1%;
        margin-left: -5%;
      }
    }
  }
  .responstable tr:hover {
    background-color: rgba(0, 140, 186, 0.44);
  }

}