<form name="projectForm" class="cd-form" ng-submit="projectForm.$valid && vm.majorsAndStatusValid() && vm.submitProject()" novalidate>
    <legend><strong>{{vm.formLegend}}</strong></legend>
    
    <div>
        <label class="cd-label" for="cd-name">Nombre</label>
        <input ng-model="vm.project.Name" class="user" type="text" name="projectName" id="cd-name" required>
        <p class="error-message" ng-show="projectForm.$submitted && projectForm.$invalid && projectForm.projectName.$error.required">
            * Por favor ingresa un nombre
        </p>
    </div>

    <div>
        <h4><strong>Carreras Asociadas</strong></h4>            
        <div class="tb-checklist">
            <div class="tb-checkbox" ng-repeat="major in vm.majors">
                <span ng-click="vm.checkboxListItemClicked(mdl, major.MajorId, vm.project.MajorIds)">
                    <input type="checkbox" id="majorBox{{major.MajorId}}" name="projectMajor" value="{{major.MajorId}}" ng-init="mdl = vm.edit && vm.project.MajorIds.indexOf(major.MajorId) >= 0" ng-model="mdl">
                    <label ng-click="mdl = !mdl">{{vm.toTitleCase(major.Name)}}</label>
                </span>
            </div>
            <tb-loading class="main-loader" style="z-index: 99999;" ng-show="vm.majorsLoading"></tb-loading>
        </div>
        <p class="error-message" ng-show="projectForm.$submitted && vm.project.MajorIds.length === 0">
            * Por favor selecciona una o mas de las carreras disponibles
        </p>
    </div> 

    <div>
        <label class="cd-label" for="cd-name">Organizacion Beneficiaria</label>
        <input ng-model="vm.project.BeneficiarieOrganization" class="user" type="text" name="projectBeneficiario" id="cd-name" required>
        <p class="error-message" ng-show="projectForm.$submitted && projectForm.$invalid && projectForm.projectBeneficiario.$error.required">
            * Por favor ingresa el nombre de un beneficiario.
        </p>
    </div>
    
<!--     <div>
        <label class="cd-label" for="cd-name">Grupos Beneficiarios</label>
        <input ng-model="vm.project.BeneficiarieGroups" class="user" type="text" name="projectBeneficiario" id="cd-name" required>
        <p class="error-message" ng-show="projectForm.$submitted && projectForm.$invalid && projectForm.projectBeneficiario.$error.required">
            * Por favor ingresa el nombre de un beneficiario.
        </p>
    </div>

    <div>
        <label class="cd-label" for="cd-name">Cantidad de Beneficiarios</label>
        <input ng-model="vm.project.BeneficiariesQuantity" class="user" ng-pattern="/^\d+$/" type="number" name="projectBeneficiarieQuantity" id="cd-name" min="0" required>
        <p class="error-message" ng-show="projectForm.$submitted && projectForm.$invalid && (projectForm.projectBeneficiarieQuantity.$error.required || projectForm.projectBeneficiarieQuantity.$invalid)">
            * Asigna la cantidad de beneficiarios.
        </p>
    </div> -->

    <div class="icon">
        <label class="cd-label" for="cd-textarea">Descripcion de Proyecto</label>
        <textarea ng-model="vm.project.Description" class="message" name="projectDescription" id="cd-textarea" required></textarea>
        <p class="error-message" ng-show="projectForm.$submitted && projectForm.$invalid && projectForm.projectDescription.$error.required">
            * Por favor ingresa una descripcion para el proyecto
        </p>
    </div>

    <div>
        <input type="submit" value="Confirmar">
    </div>
</form>
<tb-loading class="main-loader" ng-show="vm.submitting"></tb-loading>