<table class="responstable">
	<tr>
		<th ng-repeat="encabezadoTH in encabezado">{{encabezadoTH}}</th>
		<th ng-if="acciones"></th>
	</tr>

	<tr ng-repeat="cuerpoTR in cuerpo" class="tb-body">
		<td ng-repeat="contenido in cuerpoTR.contenido">{{contenido}}</td>
		<td ng-if="acciones">
			<button class="actions-button" id="buttonTB{{$index}}"ng-init="visible=false" ng-click="tableCtrl.onClickActions($index, cuerpoTR.acciones.length, cuerpoTR)">
				<span class="icon glyphicon glyphicon-th-large" aria-hidden="true"></span>
			</button>
			<!-- ng-if="visible" -->
			<div ng-if="cuerpoTR.visible" ng-style="tableCtrl.bottonesCss">
				<div class="action-content" ng-style="tableCtrl.actionContentCSS">
					<div class="wrapper-buttons">
						<button class="style-button tb-tooltip" ng-repeat="accion in cuerpoTR.acciones" ng-click="tableCtrl.closeButtons(cuerpoTR, accion.click($parent.$index))">
							<span class="{{accion.icon}}"></span>
							<span class="tooltiptext">{{accion.nombre}}</span>
						</button>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
