.projects .gallery {
  position: absolute;
  top: 7%;
  left: 5%;
  display: flex;
  width: 95%;
  flex-wrap: wrap; }

.projects .card {
  width: 28%;
  height: 300px;
  margin-right: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  background: #9ad3de;
  box-shadow: 0 0 10px #000; }

.projects .card:hover {
  box-shadow: 0 0 30px #000; }

.projects .img-area {
  display: flex;
  height: 70%;
  background: #213250;
  justify-content: center; }

.projects .img-area img {
  width: 50%;
  align-self: center; }

.projects .project-info {
  text-align: center; }

.projects .project-info h4 {
  font-size: 1.3em; }
