.main {
    font-family: 'Ubuntu', 'Roboto', sans-serif;

    overflow: hidden;

    margin: 0;

    tb-sidebar {
        position: absolute;
        left: 0;
    }

    tb-headerbar {
        position: absolute;
        left: 230px;
        height: 13%;
    }

    .dynamic-area
    {
        position: absolute;
        top: 85px;
        left: 230px;

        overflow-y: scroll;

        width: 82%;
        height: 87%;

        transition: all .3s linear;

        &.expanded
        {
            left: 0;

            width: 100%;
        }

        &.shrunk
        {
            left: 230px;

            width: 82%;
        }

    }

}